// =================== COLORS
$primary: #000000;
$secondary: #ffffff;
$accent: #FF662D;
$card-bg: #E1EFFF;
$layout-bg: #0F1D2D;

// =================== FONT-WEIGHT
$fw-medium: 500;
$fw-bold: 700;

// =================== FONT-SIZE
$fs-normal: 18px;